.ImageModal {
    position: fixed;
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    height: 266px;
    top: 100px;
    left: 100px;
}

.ImageModal img {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
}

.Close {
    position: absolute;
    z-index: 50;
    top: 8px;
    right: 8px;
    border: 0;
    text-transform: uppercase;
    color: white;
    background: black;
    text-align: center;
    display: block;
    font-size: 10px;
    border-radius: 1em;
    font-weight: 500;
    padding: 4px 7px;
    line-height: 1;
    transition: all 0.2s ease-out;
    will-change: background, opacity;
}

.Close:hover {
    background: #937cc1;
}