.Numbers {
    line-height: 1;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 20px 0 0;
    color: #444;
}

.Numbers span {
    font-weight: 500;
    letter-spacing: 0;
}