.Modal {
    position: absolute;
    border-radius: 8px;
    overflow: hidden;
    width: 80%;
    max-width: 1000px;
    height: auto;
    top: 50%;
    left: 50%;
    box-shadow: 0 6px 12px hsla(261, 32%, 10%, 1);
    transform: translate(-50%, -50%);
}

.Photo {
    width: 100%;
    height: auto;
    display: block;
}

.Close {
    position: absolute;
    z-index: 50;
    top: 8px;
    right: 8px;
    border: 0;
    text-transform: uppercase;
    color: white;
    background: rgba(0,0,0,0.5);
    text-align: center;
    display: block;
    font-size: 10px;
    border-radius: 1em;
    font-weight: 500;
    padding: 4px 7px;
    line-height: 1;
    transition: all 0.2s ease-out;
    will-change: background, opacity;
}

.Close:hover {
    background: #937cc1;
}

@media (max-width: 500px){
    .Modal {
        width: 90%;
    }
}