.Image {
    padding: 15px;
}

.Thumbnail {
    position: relative;
    transition: all 75ms ease-out;
}

.Thumbnail img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 75ms ease-out;
    border-radius: 8px;
    box-shadow: 0 2px 5px -2px rgba(0,0,0,0.5);
}

.IsFavorite .Thumbnail:after {
    content: "\2605";
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: #937cc1;
    color: white;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
    transition: all 75ms ease-out;
}

/* Hover */

.Thumbnail:hover {
    transform: scale(1.025);
}

.Thumbnail:hover img {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5);
}

/* Media */

@media (max-width: 1000px){
    .Image {
        padding: 10px;
    }
}
