.ImageGrid {
    background: #ebe8f1;
    padding: 100px 20px 20px;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.ImageGrid > div {
    flex: 1 1 25%;
    max-width: 25%;
}

@media (max-width: 800px){
    .ImageGrid > div {
        flex: 1 1 33.333%;
        max-width: 33.333%;
    }
}

@media (max-width: 600px){
    .ImageGrid > div {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media (max-width: 400px){
    .ImageGrid > div {
        flex: 1 1 100%;
        max-width: 100%;
    }
}